@charset "UTF-8";
* { box-sizing:border-box; }
body { font-family:"맑은 고딕", Arial, Helvetica, sans-serif; }
a { color:inherit; }
ul:after { display:block; content:""; clear:both; }

/*header*/
#header { }
#header .wrap { 
    position:fixed;
    top:0;
    width:1920px;
    height:100px;
    z-index:100;
    border-bottom:1px solid #ccc;
}

.b_logo img { position:absolute; left:190px; top: 20px; width:70px;}

/* gnb_menu */
.gnb_menu { margin-top:7px; text-align:center;}
.gnb_menu > ul {}
.gnb_menu > ul > li { display:inline-block; padding:35px 50px; color:#f8f8f8;}
.gnb_menu > ul > li> a { }
.gnb_menu > ul > li:hover { color:#77d970; font-weight:bold; }


/* section id="page1" */
#page1 { 
    width:1920px;
    height:1080px;
    background-image:url('../img/background_1.jpg');}

.main_visual { text-align:center; }

.main_visual .main_txt {position:absolute; top:400px; left:620px; }

.main_btn { 
    position:absolute;
    bottom:220px;
    left:820px;
    color:#f8f8f8; 
    font-size:20px;
}
        
.main_btn li {
        border:2px solid #f8f8f8;
        width:260px;
        height:60px;
        line-height:50px;
        margin:30px auto;
        border-radius:60px;
}
.main_btn li img { width:28px; margin-right:10px; vertical-align:middle; }

.main_btn li:hover{ background:#77d970; border:2px solid #77d970;}


/* section id= page2 */
#page2 { 
    position: relative;
    width:1920px;
    height:1080px;
    background-image:url('../img/background_2.jpg');
}
.service { text-align:center;}

#page2 .service .m_tit { 
    position:absolute; 
    top:160px;
    width:1920px;
    height:61px;
    margin:120px 0;
}

.service_menu { position:absolute; top:420px; left:260px;}

.service_menu li { float:left; width:350px; color:#f8f8f8;}
.service_menu li img { width:70px;}

.service_menu .tit { margin-top:34px; font-size:25px; font-weight:bold; }
.service_menu li:nth-child(1) p {margin-left:-25px;}
.service_menu li:nth-child(3) p {margin-left:-15px;}
.service_menu li:nth-child(1) .more { margin-left:-7px;}
.service_menu li:nth-child(2) .more { margin-left:12px;}
.service_menu li:nth-child(4) .more { margin-left:12px;}

.service_menu .more { display:inline-block; font-size:15px; padding-right:13px; margin-top:20px; }



/* section id=page3 */
#page3 {
    width:1920px;
    height:1080px;
    position: relative;
    background:#111;
}

.trainers { }

#page3 .trainers .m_tit {
    position:absolute; 
    top:160px;
    height:166px;
    width:1920px;
    margin:120px 0;
    text-indent:-9999px;
    background:url('../img/page3_main_text.png')no-repeat 50% 50%;
}

.trainers_card {
    position:absolute;
    bottom:0;
    width: 1920px;
    height: 494px;
    color:#f8f8f8;
}

.trainers_card strong {
    font-size:21px;
    font-weight:bold;
}

    .t1 { 
        position:absolute; 
        left:0px; top:0px;
    }

    .t1_total {
        width:280px;
        height:494px;
        background:url('../img/people_1.jpeg')no-repeat 40% 50%;
        background-size:cover;
    }

    .t1_main {
        position:absolute;
        top:150px;
        left:20px;
        line-height:25px;
    }


.t2 { 
    position:absolute; 
    left:313px; top:0px;
}

.t2_total {
    width:408px;
    height:494px;
    background:url('../img/people_4.jpeg')no-repeat 40% 50%;
    background-size:cover;
}

.t2_main {
    position:absolute;
    top:250px;
    left:20px;
    line-height:25px;
}


.t3 { 
    position:absolute; 
    left:756px; top:0px;
}

.t3_total {
    width:408px;
    height:494px;
    background:url('../img/people_3.jpg')no-repeat 40% 50%;
    background-size:cover;
}

.t3_main {
    position:absolute;
    top:150px;
    left:20px;
    line-height:25px;
}



.t4 { 
    position:absolute; 
    left:1199px; top:0px;
}

.t4_total {
    width:408px;
    height:494px;
    background:url('../img/people_5.png')no-repeat 40% 50%;
    background-size:cover;
}

.t4_main {
    position:absolute;
    top:250px;
    left:20px;
    line-height:25px;
}


.t5 { 
    position:absolute;
    top:0px;
    right:0;
}

.t5_total {
    width:280px;
    height:494px;
    background:url('../img/people_2.jpeg')no-repeat 40% 50%;
    background-size:cover;
}

.t5_main {
    position:absolute;
    top:150px;
    left:20px;
    line-height:25px;
}


/* section id=page4 */
#page4 {
    position:relative;
    width:1920px;
    height:1080px;
    background:#111;
}

.class { }

#page4 .class .m_tit {
    position:absolute;
    top:250px;
    width:1920px;
    height:166px;
    text-indent:-9999px;
    background:url('../img/page4_main_text.png')no-repeat 50% 50%;
}


.class_list {
    position:absolute;
    bottom:0;
    width: 1920px;
    height: 494px;
    color:#f8f8f8;
}


.c1 { 
    position:absolute; 
    left:0px; top:0px;
}

.c1_total {
    width:472px;
    height:494px;
    background:url('../img/class_1.jpeg');
    background-size:cover;
}

    .c1_main {
        position:absolute; 
        left:0px; 
        top:25px;
        width:40px;
        height:40px;
        margin-left:20px;
        background:url('../img/class_pro_1.jpeg');
        background-size:cover;
        border-radius:15px;
        
    }

        .c1_main_info {
            width:100px;
            margin-left:50px;
            font-size:21px;
            font-weight:bold;
            line-height:40px;
        }

    .c1_subt {
        position:absolute;
        bottom:0px;
        width:inherit;
        height:140px;
        padding:60px 20px;
        background:rgba(0,0,0,0.5);
    }
        .c1_tit {
        font-size:20px;
        font-weight:bold;
        }
        .c1_sub {
        line-height:30px;
        font-size:14px;
        }


.c2 { 
    position:absolute; 
    left:512px; top:0px;
}

.c2_total {
    width:900px;
    height:494px;
    background:url('../img/class_2.jpeg');
    background-size:cover;
}

    .c2_main {
        position:absolute; 
        left:0px; 
        top:25px;
        width:40px;
        height:40px;
        margin-left:20px;
        background:url('../img/class_pro_2.jpg');
        background-size:cover;
        border-radius:15px;
        
    }

        .c2_main_info {
            width:100px;
            margin-left:50px;
            font-size:21px;
            font-weight:bold;
            line-height:40px;
        }

    .c2_subt {
        position:absolute;
        bottom:0px;
        width:900px;
        height:140px;
        padding:60px 20px;
        background:rgba(0,0,0,0.5);
    }
        .c2_tit {
        font-size:20px;
        font-weight:bold;
        }
        .c2_sub {
        line-height:30px;
        font-size:14px;
        }



.c3 { 
    position:absolute; 
    right:0; top:0px;
}

.c3_total {
    width:472px;
    height:494px;
    background:url('../img/class_3.jpeg');
    background-size:cover;
}

    .c3_main {
        position:absolute; 
        left:0px; 
        top:25px;
        width:40px;
        height:40px;
        margin-left:20px;
        background:url('../img/class_pro_3.jpg');
        background-size:cover;
        border-radius:15px;
        
    }

        .c3_main_info {
            width:100px;
            margin-left:50px;
            font-size:21px;
            font-weight:bold;
            line-height:40px;
        }

    .c3_subt {
        position:absolute;
        bottom:0px;
        width:472px;
        height:140px;
        padding:60px 20px;
        background:rgba(0,0,0,0.5);
    }
        .c3_tit {
        font-size:20px;
        font-weight:bold;
        }
        .c3_sub {
        line-height:30px;
        font-size:14px;
        }



/* section id=page5 */
#page5 {
    position:relative;
    width:1920px;
    height:1080px;
    background:#111;
}

.review { }

#page5 .review .m_tit {
    position:absolute;
    top:250px;
    width:1920px;
    height: 61px;
    text-indent:-9999px;
    background:url('../img/page5_main_text.png')no-repeat 50% 50%;
}


.review_list {
    position:absolute;
    bottom:0;
    width: 1920px;
    height: 494px;
    color:#f8f8f8;
}


.r1 { 
    position:absolute; 
    left:0px; top:0px;
}

.r1_total {
    width:472px;
    height:494px;
    background:url('../img/page5_rev_1.jpeg');
    background-size:cover;
}

    .r1_main {
        position:absolute; 
        left:0px; 
        top:25px;
        width:40px;
        height:40px;
        margin-left:20px;
        background:url('../img/page5_rev_pro_1.jpeg');
        background-size:cover;
        border-radius:15px;
        
    }

        .r1_main_info {
            width:100px;
            margin-left:50px;
            font-size:21px;
            font-weight:bold;
            line-height:40px;
        }

    .r1_subt {
        position:absolute;
        bottom:0px;
        width:inherit;
        height:140px;
        padding:10px 20px;
        background:rgba(0,0,0,0.5);
    }
        .r1_tit {
        font-size:20px;
        margin:15px 0;
        font-weight:bold;
        }
        .r1_sub {
        line-height:20px;
        }


.r2 { 
    position:absolute; 
    left:512px; top:0px;
}

.r2_total {
    width:900px;
    height:494px;
    background:url('../img/page5_rev_2.jpeg');
    background-size:cover;
}

    .r2_main {
        position:absolute; 
        left:0px; 
        top:25px;
        width:40px;
        height:40px;
        margin-left:20px;
        background:url('../img/page5_rev_pro_2.jpeg');
        background-size:cover;
        border-radius:15px;
        
    }

        .r2_main_info {
            width:100px;
            margin-left:50px;
            font-size:21px;
            font-weight:bold;
            line-height:40px;
        }

    .r2_subt {
        position:absolute;
        bottom:0px;
        width:900px;
        height:140px;
        padding:10px 20px;
        background:rgba(0,0,0,0.5);
    }
        .r2_tit {
        font-size:20px;
        font-weight:bold;
        margin:15px 0;
        }
        .r2_sub {
        line-height:20px;
        }



.r3 { 
    position:absolute; 
    right:0; top:0px;
}

.r3_total {
    width:472px;
    height:494px;
    background:url('../img/page5_rev_3.png');
    background-size:cover;
}

    .r3_main {
        position:absolute; 
        left:0px; 
        top:25px;
        width:40px;
        height:40px;
        margin-left:20px;
        background:url('../img/page5_rev_pro_3.jpeg');
        background-size:cover;
        border-radius:15px;
        
    }

        .r3_main_info {
            width:100px;
            margin-left:50px;
            font-size:21px;
            font-weight:bold;
            line-height:40px;
        }

    .r3_subt {
        position:absolute;
        bottom:0px;
        width:472px;
        height:140px;
        padding:10px 20px;
        background:rgba(0,0,0,0.5);
    }
        .r3_tit {
        font-size:20px;
        font-weight:bold;
        margin:15px 0;
        }
        .r3_sub {
        line-height:20px;
        }



/* footer */
#footer { 
    position:relative;
    width:1920px;
    height:230px;
    background:#111;
}

    .top { 
    padding-top:50px;
}
    .wrap { 
    position: relative;
    width:1920px;
    height:110px;
    color:#999; 
    font-size:12px; 
    line-height:1.8em; 
    letter-spacing:-1px; 
}

    .footer_logo img { 
    position:absolute; 
    top:25px; 
    left:190px; 
    width:70px;
    }


    .top_right { 
    position:absolute;
    right:300px;
    bottom:0;
    }   
    .top_right div { }
    .top_right ul {}
    .top_right span { }
    .top_right span img { 
        width:20px; 
        margin:0 10px 10px 0;
    }

    .address { 
    position:absolute; 
    left:600px;
    bottom:0;
    }
    .address b { color: #77d970;}